<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Subtask | Tasks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div th:if="${getSelectedTask == null}">
    <div class="alert alert-danger" role="alert" style="margin:5px;padding: 5px;">
        Task not found!
    </div>
</div>

<main>
    <div th:if="${getSelectedTask != null}">
        <h1 style="margin:5px;padding: 5px;">Create Subtask</h1>
        <form method="post" th:action="@{'/tasks/' + ${getSelectedTask.id} + '/sub/create'}" th:object="${subtaskDTO}" style="margin:5px;padding: 5px;">
            <p th:text="${#fields.globalErrors()}"></p>

            <div class="form-group" style="margin:5px;padding: 5px;">
                <label for="title">Title:</label>
                <input class="form-control" id="title" name="title" type="text" th:field="*{title}">
                <p th:errors="*{title}"></p>
            </div>

            <div class="form-group" style="margin:5px;padding: 5px;">
                <label for="description">Description:</label>
                <input class="form-control" id="description" name="description" type="text" th:field="*{description}">
            </div>

            <input type="submit" value="Create Subtask" class="btn btn-dark" style="margin:5px;padding: 5px;">
        </form>
    </div>

</main>

</body>
</html>